footer
  .footer__item__wrapper
    ul.footer__item
      li.footer__list__item
        a.footer__link(href='/about', target='_blank')= meta.about
      li.footer__list__item
        a.footer__link.external(
          href='https://github.com/tolbri/public-privacy',
          target='_blank',
          rel='noopener'
        ) Github
    ul.footer__item
      li.footer__list__item
        a.footer__link.external(
          href='https://timolbrich.com',
          target='_blank',
          rel='noopener'
        )= meta.portfolio
      li.footer__list__item
        a.footer__link.external(
          href='https://www.linkedin.com/in/tim-olbrich/',
          target='_blank',
          rel='noopener'
        ) Linkedin
    ul.footer__item__cookie
      li.footer__list__item
        p= meta.cookie
